<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pokcards</title>
    <style>
      nav.horizontal {
        list-style-type: none;
      	margin: 0;
      	padding: 0;
      	overflow: hidden;
      	background-color: #333;
      }
      html, body {
      	font-family: Verdana,sans-serif;
      	font-size: 15px;
      	line-height: 1.5;
      }
    </style>
    {% block start_script %}{% endblock %}
  </head>
  <body>
    <nav class="horizontal">
      <h2>Pokcards</h2>
    </nav>
    {% block content %}{% endblock %}
  </body>
  {% block end_script %}{% endblock %}
</html>
