{% extends "base.html" %}

{% block content %}
  <button id="getBooster" type="button" onclick="getBooster()">Ouvrir un Booster</button>
  <div id="cartes"></div>
{% endblock %}

{% block end_script %}
  <script>
    function getBooster() {
      fetch('/get_booster')
      .then(function (response) {
          return response.json();
      }).then(function (booster) {
          console.log('GET response:');
          console.log(booster.greeting);
          document.getElementById("cartes").innerHTML = ""
          for (const cardID in booster) {
            const re_rare = new RegExp('rare')
            if (re_rare.test(`${cardID}`) == true) {
              console.log(`${cardID}` + " : " + `${booster[cardID].rarity}`);
              document.getElementById("cartes").innerHTML += "<img src=" + `${booster[cardID].images.small}` + "></img>";
            }
          }
          for (const cardID in booster) {
            const re_unco = new RegExp('unco')
            if (re_unco.test(`${cardID}`) == true) {
              console.log(`${cardID}` + " : " + `${booster[cardID].rarity}`);
              document.getElementById("cartes").innerHTML += "<img src=" + `${booster[cardID].images.small}` + "></img>";
            }
          }
          for (const cardID in booster) {
            const re_common = new RegExp('common')
            if (re_common.test(`${cardID}`) == true) {
              console.log(`${cardID}` + " : " + `${booster[cardID].rarity}`);
              document.getElementById("cartes").innerHTML += "<img src=" + `${booster[cardID].images.small}` + "></img>";
            }
          }
      });
    }
  </script>
{% endblock %}
